.loginPage {
  background: var(--base-color);
  color: var(--def-text-color);
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 80vh;
}
.welcomePart h1 {
  text-transform: capitalize;
  font-weight: 300;
}
