.authForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  gap: 20px;
}
.authForm input {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  background: transparent;
  color: grey;
}
.authForm input:hover {
  background: rgba(75, 75, 75, 0.413);
  transition: 0.4s ease;
}

.authForm input:focus,
.authForm input:active {
  border: 2px solid var(--active-color) !important;
  color: white;
}

.authForm button:first-child {
  background: var(--active-color);
  width: 200px;
  height: 45px;
  border-radius: 25px;
  color: var(--def-text-color);
}
.authForm button:first-child:hover {
  background: rgb(191, 1, 1);
  transition: 0.4s ease;
}
.authForm > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 25px;
}
.authForm button {
  background: transparent;
  border: none;
  font-size: 15px;
  color: grey;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}
